@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

.logo__texto{
    color: rgb(230, 213, 184);
    font-family: 'Peralta', cursive;
    font-size: 1.7rem;
    margin-left: 1rem;
}